<div class="cssflexgrid-inner component-inner" role="region" aria-label="{{_globals._components._cssflexgrid.ariaRegion}}">
    {{> component this}}
    <div class="cfg-button-container">
        <button id="cfg-components" role="button" class="" aria-label="{{myLabel1}}">{{myLabel1}}</button>
        <button id="cfg-extensions" role="button" class="" aria-label="{{myLabel2}}">{{myLabel2}}</button>
        <button id="cfg-themes" role="button" class="" aria-label="{{myLabel3}}">{{myLabel3}}</button>
        <button id="cfg-menus" role="button" class="" aria-label="{{myLabel4}}">{{myLabel4}}</button>
    </div>
    <div class="cfg-label-container cfg-flexbox">
        <div class="cfg-col1 cfg-bold">{{myLabel5}}</div>
        <div class="cfg-col2 cfg-bold">{{myLabel6}}</div>
        <div class="cfg-col2 cfg-bold">{{myLabel7}}</div>
        <div class="cfg-col2 cfg-bold">{{myLabel8}}</div>
    </div>
</div>
